html,
body {
    min-height: 100vh;

    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
    padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
    padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
    background: #423f3a;
}

#nprogress .bar {
    background: $primary-color !important; //自定义Nprogress颜色
}

.not-last-child-border {
    &:not(:last-child) {
        border-bottom: 1px solid #404040;
    }
}

.animate__delay-100ms {
    animation-delay: 100ms;
}

.animate__delay-200ms {
    animation-delay: 200ms;
}

.animate__delay-300ms {
    animation-delay: 300ms;
}

.animate__delay-400ms {
    animation-delay: 400ms;
}

.animate__delay-500ms {
    animation-delay: 500ms;
}

.animate__delay-600ms {
    animation-delay: 600ms;
}

.animate__delay-700ms {
    animation-delay: 700ms;
}

.animate__delay-800ms {
    animation-delay: 800ms;
}

.animate__delay-900ms {
    animation-delay: 900ms;
}

.animate__delay-1s {
    animation-delay: 1s;
}

@keyframes down-slide {
    0% {
        transform: translateY(4px);
    }

    25% {
        transform: translateY(2px);
    }

    50% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(-4px);
    }
}

.animate-down-slide {
    animation: down-slide 600ms linear 0s infinite alternate;
}
